<div class="container">
    <footer class="footer">
        <hr>
        <small>
            Copyright &copy; <a href="">Frameh</a>
            by <a href="">Hugo Morais - 2019</a>
        </small>
    </footer>
</div>